.App{
    display: block;
    text-align: center;
    border: 1px solid black;
    width: 30%;
    height: 100%;
    padding: 30px 20px;
    margin: auto;
    background-color: grey
    
}
li{
    list-style: none;
    margin-top: 20px;
}
h1{
    color: black;
    
}
.delete{
    background-color: crimson;
    color: white;
}
.delete:hover{
    background-color: green;
    transition: 0.5s;
}
.add{
    background-color: rgba(0, 0, 139, 0.721);
    color: white;
}
.add:hover{
    background-color: crimson;
    transition: 0.5s;
}